
{% extends "base.html" %}
{%block grilla%}
{% load static %}
<div class="px-4 py-5 my-5 text-center">
    <h3 >Ingrese el Numero de Documento</h3>
    {%include 'buscador.html'%} 
</div>
<!-- <div class="text-start">
    <div class="container col- col-md-7 border p-3">
        <form method= "POST" action ="" >{%csrf_token%}
            {% if messages %}
                {% for message in messages %}
                    <span id="errorMessage"> {{message}}</span><br><br>
                {% endfor %}
            {% endif %}
            <table class="table">
                <thead class="table-primary">
                    <tr>
                    <th scope="col"></th>
                    <th scope="col">Nro Documento</th>
                    <th scope="col">Nombre y Apellido</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {%for per in cliente%}
                    <tr>
                    <td>
                        <input type="radio" value="{{per}}" name="cliente_seleccionado">
                    </td>
                    <td>
                        {{per.nro_documento}} 
                    </td>
                    <td>
                        {{per.nombre}} {{per.apellido}} 
                    </td>
                    <td>
                        </input> 
                    </td>
                    </tr>
            
                    {% empty %}
                    <p>No hay coincidencias.</p>
                    {%endfor%}
                </tbody>
            </table>                                          
    <input type="submit" class="btn btn-primary" value="Seleccionar">
    </div>
</div>
</form>  -->

{%endblock%}

