{% extends "base.html" %}

{%block incluir_navbar%}
    {% include "navbar.html" %}
{%endblock%}

{%block titulo%}
<title>MasPuntos- Clientes</title>
<div class="px-2 py-2 my-2 text-center">
  <h1 class="display-8 fw-bold text-body-emphasis">Clientes</h1>      
</div>  

{%endblock%}



{%block grilla%}
{% load static %}

<link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/grid/">
<link href="../static/css/grid.css" rel="stylesheet">
<main> 
  <div class="container">
    <div class="row row-cols-1 row-cols-md-6 gx-1 text-center">
      <div class="col themed-grid-col">Nombre</div>
      <div class="col themed-grid-col">Apellido</div>
      <div class="col themed-grid-col">Documento</div>
      <div class="col themed-grid-col">Fecha Nacimiento</div>
      <div class="col themed-grid-col">Nro. Telefono</div>
      <div class="col themed-grid-col">E-mail</div>
  
      <div class="col themed-grid-col"> </div>
      <div class="col themed-grid-col"> </div>
      <div class="col themed-grid-col"> </div>
      <div class="col themed-grid-col"> </div>
      <div class="col themed-grid-col"> </div>
      <div class="col themed-grid-col"> </div>
  
      <div class="col themed-grid-col"> </div>
      <div class="col themed-grid-col"> </div>
      <div class="col themed-grid-col"> </div>
      <div class="col themed-grid-col"> </div>
      <div class="col themed-grid-col"> </div>
      <div class="col themed-grid-col"> </div>
  
      <div class="col themed-grid-col"> </div>
      <div class="col themed-grid-col"> </div>
      <div class="col themed-grid-col"> </div>
      <div class="col themed-grid-col"> </div>
      <div class="col themed-grid-col"> </div>
      <div class="col themed-grid-col"> </div>
    </div>
  
    <div class="d-flex gap-2 justify-content-center py-5">
      <button class="btn btn-outline-secondary d-inline-flex align-items-center" type="button">
        Nuevo
        <svg class="bi ms-1" width="20" height="20"><use xlink:href="#arrow-right-short"/></svg>
      </button>
      <button class="btn btn-outline-secondary d-inline-flex align-items-center" type="button">
        Grabar
        <svg class="bi ms-1" width="20" height="20"><use xlink:href="#arrow-right-short"/></svg>
      </button>
      <button class="btn btn-outline-secondary d-inline-flex align-items-center" type="button">
        Editar
        <svg class="bi ms-1" width="20" height="20"><use xlink:href="#arrow-right-short"/></svg>
      </button>
      <button class="btn btn-outline-secondary d-inline-flex align-items-center" type="button">
        Inactivar
        <svg class="bi ms-1" width="20" height="20"><use xlink:href="#arrow-right-short"/></svg>
      </button>
    </div>

  <!--   <div class="d-flex gap-2 justify-content-center py-1">
      <h4 class="mb-3">Opciones de búsqueda</h4>
    </div>  
  
    <div class="d-flex gap-2 justify-content-center">
      <div class="my-3">
        <div class="form-check">
          <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
            <label class="form-check-label" for="credit">Nombre/Apellido</label>
          </div>
          <div class="form-check">
            <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
            <label class="form-check-label" for="debit">Fecha de cumpleaños</label>
          </div>
        </div>
      </div>
    </div> -->
    
    <div class="d-flex gap-2 justify-content-center py-2">
      <a href="{% url 'buscar_cliente' %}">
        <button class="btn btn-outline-secondary d-inline-flex align-items-center" type="button">
          Buscar
          <svg class="bi ms-1" width="20" height="20"><use xlink:href="#arrow-right-short"/></svg>
        </button>
      </a>
    </div>  

    <!-- <div class="d-flex gap-2 justify-content-center py-5">
      <button class="btn btn-outline-secondary d-inline-flex align-items-center" type="button">
        Reportes
        <svg class="bi ms-1" width="20" height="20"><use xlink:href="#arrow-right-short"/></svg>
      </button>
    </div>     -->
  </div>  
</main>

{%endblock%}

{%block cerrar_sesion%}
<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
  <a href="{% url 'login' %}" class="btn btn-lg btn-outline-primary mb-3">Cerrar sesión</a>
</div>
{%endblock%}