{% extends "base.html" %}

{%block incluir_navbar%}
    {% include "navbar.html" %}
{%endblock%}

{%block titulo%}
<title>MasPuntos- Clientes</title>
<div class="px-2 py-2 my-2 text-center">
  <h1 class="display-8 fw-bold text-body-emphasis">Clientes</h1>      
</div>  
{%endblock%}

{%block busqueda %}
<div class="d-flex gap-2 justify-content-center py-1">
    <h4 class="mb-3">Opciones de búsqueda</h4>
</div> 

<div class="d-flex gap-1 justify-content-center">
    <div class="my-3">
        <form class="d-flex" method="GET" action="">{% csrf_token %} 
            <div class="form-check">
                <input id="nom_ap" name="nom_ap" type="radio" value="{{request.GET.tipo_busqueda}}" class="form-check-input" checked required>
                <label class="form-check-label" for="nom_ap">Nombre/Apellido</label>
            </div>
            <div class="form-check">
                <input id="cumple" name="cumple" type="radio" value="{{request.GET.tipo_busqueda}}" class="form-check-input" required>
                <label class="form-check-label" for="cumple">Fecha de cumpleaños</label>
            </div>
        </form>    
    </div>
</div>

<div class="px-1 py-1 my-1 text-center">
    {%include "buscador.html"%} 
</div>

{%endblock%}

{%block grilla%}
{% load static %}
<div class="text-start">
    <div class="container col- col-md-7 border p-3">
        <form method= "POST" action ="" >{%csrf_token%}
            {% if messages %}
                {% for message in messages %}
                    <span id="errorMessage"> {{message}}</span><br><br>
                {% endfor %}
            {% endif %}
            <table class="table">
                <thead class="table-primary">
                    <tr>
                    <!-- <th scope="col"></th> -->
                    <th scope="col">Nro Documento</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Fecha Nacimiento</th>
                    </tr>
                </thead>
                <tbody>
                    {%for per in cliente%}
                    <tr>
                    <!-- <td>
                        <input type="radio" value="{{per}}" name="cliente_seleccionado">
                    </td> -->
                    <td>
                        {{per.documento}} 
                    </td>
                    <td>
                        {{per.nombre}} 
                    </td>
                    <td>
                        {{per.apellido}} 
                        <!-- </input>  -->
                    </td>
                    <td>
                        {{per.fecha_nacimiento}} 
                    </td>
                    </tr>
            
                    {% empty %}
                    <p>No hay registros.</p>
                    {%endfor%}
                </tbody>
            </table>                                          
    <!-- <input type="submit" class="btn btn-primary" value="Seleccionar"> -->
    </div>
</div>
</form> 
{%endblock%}

{%block botones%}
<div class="d-flex gap-2 justify-content-center py-5">
    <button class="btn btn-outline-secondary d-inline-flex align-items-center" type="button">
      Nuevo
      <svg class="bi ms-1" width="20" height="20"><use xlink:href="#arrow-right-short"/></svg>
    </button>
    <button class="btn btn-outline-secondary d-inline-flex align-items-center" type="button">
      Grabar
      <svg class="bi ms-1" width="20" height="20"><use xlink:href="#arrow-right-short"/></svg>
    </button>
    <button class="btn btn-outline-secondary d-inline-flex align-items-center" type="button">
      Editar
      <svg class="bi ms-1" width="20" height="20"><use xlink:href="#arrow-right-short"/></svg>
    </button>
    <button class="btn btn-outline-secondary d-inline-flex align-items-center" type="button">
      Inactivar
      <svg class="bi ms-1" width="20" height="20"><use xlink:href="#arrow-right-short"/></svg>
    </button>
</div>

<div class="d-flex gap-2 justify-content-center py-1">
    <button class="btn btn-outline-secondary d-inline-flex align-items-center" type="button">
        Reportes
        <svg class="bi ms-1" width="20" height="20"><use xlink:href="#arrow-right-short"/></svg>
    </button>
</div>    
{%endblock%}

{%block cerrar_sesion%}
<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
  <a href="{% url 'login' %}" class="btn btn-lg btn-outline-primary mb-3">Cerrar sesión</a>
</div>
{%endblock%}
