<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Sistema de fidelización de clientes</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{%url 'principal'%}">MasPuntos</a> 
              <!-- <a class="nav-link disabled" aria-disabled="true">MasPuntos</a> -->
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link active" aria-current="page" href="#">Clientes</a> -->
            <a class="nav-link" href= "{%url 'cliente' %}">Clientes</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Puntos</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{%url 'concepto_punto'%}">Concepto de uso de puntos</a></li>
              <li><a class="dropdown-item" href="../templates/reglaAsigPunto.html">Reglas de asignación de puntos</a></li>
              <li><a class="dropdown-item" href="../templates/paramAsigPunto.html">Parámetros de asignación de puntos</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'bolsa_punto'%}">Bolsa de puntos</a>
            <!-- <a class="nav-link">Bolsa de puntos</a> -->
          </li>
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="Buscar" placeholder="Buscar" aria-label="Buscar">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form> -->
      </div> 
    </div>
  </nav>
  