{%extends "base.html" %}

{%block incluir_navbar%}
    {% include "navbar.html" %}
{%endblock%}

{%block titulo%}
<title>MasPuntos- Principal</title>
<div class="px-2 py-2 my-2 text-center">
    <h1 class="display-8 fw-bold text-body-emphasis">Sistema de fidelización de clientes</h1>   
</div>       
<div class="px-4 py-5 my-5 text-center">
<h1 class="display-5 fw-bold text-body-emphasis">MasPuntos</h1>
{%endblock%}

{%block imagen%}
{% load static %}
<img class="d-block mx-auto mb-4" src= "{% static 'images/logo1.jpg' %}" alt="" width="900" height="400">
{%endblock%}

{%block cerrar_sesion%}
<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
    <a href="{% url 'login' %}" class="btn btn-lg btn-outline-primary mb-3">Cerrar sesión</a>
</div>
{%endblock%}
